# dependencies
node_modules/

# Next.js
.next/
out/

# Vercel
.vercel/

# environment variables / secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS files
.DS_Store
Thumbs.db
